.navbar-custom {
    background-color: rgba(0, 136, 255, 0.768); 
    color: white;
    border-bottom: 4px solid rgb(0, 136, 255)
}

.navbar-custom a {
    color: white; 
}

.navbar-custom a:hover {
    color: yellow; 
}

.navbar-nav li {
    border-right: 2px solid rgb(0, 136, 255);
    padding-right: 10px; 
}

.navbar-nav li:last-child {
    border-right: none;
}