{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block body %}
    <section class="hero">
        <h1>Bienvenue sur notre plateforme de tournois étudiants</h1>
        <p>Participez aux tournois les plus passionnants et rencontrez d'autres étudiants passionnés!</p>
        <!-- Ajoutez d'autres éléments du héros ici -->
    </section>

    <section class="recent-tournaments">
        {{ include('home/carousel.html.twig') }}
    </section>

    <br><br>

    <section class="recent-gameMatch">
        {{ include('home/carouselMatch.html.twig') }}
    </section>
    
{% endblock %}





