{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}
    <div class="container">
        <h1>Formulaires</h1>
        <legend>Création de tournois</legend>
        {{ include('create/_form.html.twig') }}
    </div> 
{% endblock %}
