        <div class="search-filters">
            <form method="post">
                <label for="search">Recherche:</label>
                <input type="text" id="search" name="search" placeholder="Entrez votre recherche">

                <label for="date">Date:</label>
                <input type="date" id="date" name="date">

                <label for="location">Lieu:</label>
                <input type="text" id="location" name="location" placeholder="Entrez le lieu">

                <button type="submit">Rechercher</button>
            </form>
        </div>