{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block body %}
    <section class="hero">
        <h1>Bienvenue sur notre plateforme de tournois étudiants</h1>
        <p>Participez aux tournois les plus passionnants et rencontrez d'autres étudiants passionnés!</p>
    </section>
    <section class="registration-form">
        <h2>Inscription :</h2>
        {{ include('register/_form.html.twig') }}
    </section>
{% endblock %}