{% extends 'base.html.twig' %}

{% block title %}Création d'un nouveau tournoi{% endblock %}

{% block body %}
    <h1>Création d'un nouveau tournoi</h1>

    {{ include('tournament/_tform.html.twig') }}
{% endblock %}