<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Accueil</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/create">Créer un tournoi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Chercher un tournoi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
                {% if app.session.get('loggedin') %}
                    <span>Bienvenue, {{ app.session.get('name') }} !</span>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Se connecter</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>
