{% extends 'base.html.twig' %}

{% block title %} {{user.name}}{% endblock %}

{% block body %}
    <header class="user-header">
            <h1>{{user.name}}</h1>
            <p>Email de contact : </p>
    </header>

    {% if userdata.loggedin %}
        <section class="user-connection">
            <ul>
                <li>
                    <a class="nav-link" href="/logout">Se déconnecter</a>
                </li>
                <li>
                    <a class="nav-link" href="/unregister">Se désinscrire</a>
                </li>
            </ul>
        </section>
    {% endif %}

{% endblock %}